*{
    margin: 0;
    padding: 0;
    font-family:Work Sans ;
}
.primary-btn{
    width: 160px;
    height: 60px;
}
/* header here */
.header{
    background-image: url('images/banner/banner2.png');
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #F15B22;
}
.header-container{
    margin-left: 600px;
    padding-top: 200px;
    padding-right: 150px;
   
}
.header-title{
    font-size: 50px;
    font-weight: bolder;
    padding: 20px 10px;
    text-align: right;
    color: #151414;
    font-family: Work Sans;

}
.header-description{
    text-align: left;
    font-family: Work Sans;
    font-size: 16px;
    color: #444343;

}
.header-container>button{
    font-size: 20px;
    text-align: right;
    padding: 0 25px;
    background-color: #F15B22;
    font-weight: bold;
    margin-left: 213px;
    margin-top: 20px;
    color: white;
    border: none;
}
/* banner section */
.banner-main-container{
    display: flex;
    height: 80vh;
    margin-top: 120px;
}
.banner-img{
    width: 350px;
    height: 500px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.banner-titel{
    margin-top: 70px;
    margin-left: 120px;
    
}
.banner-description{
    font-size: 40px;
    color: #151414;
    font-weight: 800;
    font-family: Work Sans;
    text-align: left;
    margin-right: 180px;
    
}
.banner-sub-description{
    font-family: Work Sans;
    color:#444343;
    font-size: 15px;
    margin: 20px 0;
    font-weight: 800;
    align-items: center;
    font-weight: 800;
    margin-right: 180px;

}
.banner-lits-items{
    list-style-type:none;
    margin-top: 10px;
    margin-right: 40px;


}
.banner-lits-item{
    font-weight: 800;
    font-family: Work Sans;
    color:#444343;
    margin-top: 15px;
}
/* my plan section */
.my-plan-container{
    align-items: center;
    height: 50vh;
    margin-top: 10px;
    margin-right: 10px;
    
}
.plan-header{
    text-align: center;
    color: #151414;
    font-size: 40px;
    font-weight: 900;
    font-family: Work Sans;
    margin: 30px 0px;


}
.plans-main-container{
    display: flex;
    margin: 10px 150px;
    text-align: center;
    gap: 30px;
    
}
.plans-item,img{
    width: 60px;
    height: 70px;
}
.plans-item{
    margin: 0 auto;
    padding: 20px 30px;
}

.sub-title{
    font-family: Work Sans;
    font-weight: bolder;
    font-size: 20px;
    text-align: center;
    color:#151414;
    margin-top: 20px;
    margin-right: 10px;

}
.img-desc{
    color:#737272;
    font-size: 14px;
    font-weight: bolder;
    font-family: Work Sans;
    margin-top: 20px;
    align-items: center;
    

}

/* image section */
.main-container{
    background-image: url('images/gradient2.png');
    width: 800px;
    height: 250px;
    margin: 100px 180px;
    border-radius: 10px;
    border: none;
}
.main-sub-container{
    padding: 20px 50px;
}
.main-title{
    font-family: Work Sans;
    font-weight: 900;
    font-size: 40px;
    color: #FFFFFF;
    margin-right: 40px;
    margin-top: 35px;
}
.main-sub-container > button{
    font-size: 18px;
    border: none;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #F15B22;
    margin-top: 45px;    
}
/* footer section */
.footer-main{
    background: #151414;
    height: 60vh;
    display: flex;
    padding: 50px 0px;
    
}
.footer-main-container{
    margin: 20px 30px;
    
}
.future-contant{
    margin: 20px 100px;
}
.future-head{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 45px;
    color: #F8F8F8;
    margin-bottom: 10px;
}
.future-decs{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    /* margin: 20px 0; */
    margin-right: 10px;
    text-align:left;
}
.future-email,.future-phone{
    font-family: Work Sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 20px 0;
}
.main-icon-container{
    display: flex;
}
.fb{
    width: 40px;
    height: 40px;
    margin: 5px 15px;
}

.twi{
        width: 40px;
        height: 40px;
        margin: 5px 15px;
}
.you{
    width: 40px;
    height: 40px;
    margin: 5px 15px;
}
.subscribe-main-container{
    margin-top: 35px;
    margin-right: 150px;
}
.subscribe-container{
    margin-top: 30px ;
}
.subscribe-head{
    font-family: Work Sans;
    font-weight: 900;
    font-size: 35px;
    color: #FFFFFF;
    margin-bottom: 30px;
}
.subscribe-container> input{
    width: 290px;
    height: 60px;
    background-color: #151414;
    border: 1px solid white;
    margin: 10px 0;
    border-radius: 10px;
}

#email{
    font-size: 15px;
    text-align: left;
    font-weight: bolder;
    margin-right: 10px;
    
}
.subscribe-container>button{
    color:#F15B22;
    font-size: 18px;
    font-weight: bolder;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
}



